@{
    Layout = "_Layout";
    ViewBag.LoginEndpoint = "https://auth.flyingdarts.net/login?response_type=code&client_id=7f1gvuc7ti7bhda3mjs8ovmc0&redirect_uri=https%3A%2F%2Fflyingdarts.net%2Flogin";
    ViewBag.LottieAnimationCheckmarkUrl = "https://lottie.host/5a430ec5-3e06-4c40-a0d6-219497a98663/pDB6BWP3Tz.json";
    ViewBag.ConnectSocialString = "Connect with your preferred social account";
}
@model IYLTDSU.WebApp.Views.Home.HomePageViewModel
<link href="@Url.Content("~/css/signup-and-registration.css")" rel="stylesheet" type="text/css" />
<div class="row g-0 outside-frame">
    <div class="col-sm-0 col-md-12 col-lg-8  top-container">
        <div id="registrationCarousel" class="carousel slide" data-bs-ride="false">
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <div class="carousel-custom-top">
                        <img src="~/images/undraw_social_media.svg" class="d-block w-50 mx-auto" alt="Dartboard with one dart">
                    </div>
                    <div class="carousel-custom-bottom">
                        <div class="carousel-caption d-block">
                            <h5>First slide label</h5>
                            <p>Some representative placeholder content for the first slide.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-custom-top">
                        <img src="~/images/undraw_personal_information.svg" class="d-block w-50 mx-auto" alt="Dartboard with three darts">
                    </div>
                    <div class="carousel-custom-bottom">
                        <div class="carousel-caption d-block">
                            <h5>Second slide label</h5>
                            <p>Some representative placeholder content for the second slide.</p>
                        </div>
                    </div>
                </div>
                <div class="carousel-item">
                    <div class="carousel-custom-top">
                        <img src="~/images/undraw_speech_to_text.svg" class="d-block w-50 mx-auto" alt="Person picking the darts for the dartboard">
                    </div>
                    <div class="carousel-custom-bottom">
                        <div class="carousel-caption d-block">
                            <h5>Third slide label</h5>
                            <p>Some representative placeholder content for the third slide.</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="carousel-indicators registration-carousel-indicators">
                <button class="registration-carousel-button active" type="button" data-bs-target="#registrationCarousel" data-bs-slide-to="0" aria-current="true" aria-label="Slide 1"></button>
                <button class="registration-carousel-button" type="button" data-bs-target="#registrationCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
                <button class="registration-carousel-button" type="button" data-bs-target="#registrationCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
            </div>
        </div>
    </div>
    <div class="col-sm-12 col-md-12 col-lg-4 app-view-portrait app-view-portrait-registration">
        <div class="app-view-portrait-inner">
            <h1 class="registration-title text-center">Start Darting Fast!</h1>
            <h2 class="registration-subtitle text-center">Setting up your account</h2>
            <div id="socialButton">
                <a id="authButton" href="@ViewBag.LoginEndpoint" class="socials-button">
                    <lottie-player id="connectedWithSocial" src="@ViewBag.LottieAnimationCheckmarkUrl" background="transparent" speed="1" style="width: 300px; height: 300px; position: absolute; display: none;" autoplay></lottie-player>
                    @ViewBag.ConnectSocialString
                </a>
            </div>
            <p class="registration-info">Don't worry, we wont share your details with anyone else.</p>
            <div id="authForm" class="input-group" style="display: none;">
                <input type="hidden" id="MyCode" value="@ViewBag.Code"/>
                <div class="input-group">
                    <input id="submitBtn" type="submit" class="btn btn-primary my-primary-button" Value="Confirm"/>
                </div>
                <label class="form-control checkbox-control">
                    <input id="checkBoxAccept" type="checkbox" name="checkbox-checked"/>
                    <span>
                        By clicking Confirm, you agree to our
                        @Html.ActionLink("Terms of Service", "TermsOfService", "Legal", null)
                        and
                        @Html.ActionLink("Privacy Policy", "PrivacyPolicy", "Legal", null)
                    </span>
                </label>
            </div>
        </div>
    </div>
</div>
@section Scripts {
    <script src="https://unpkg.com/@Html.Raw("@")lottiefiles/lottie-player@latest/dist/lottie-player.js"></script>

    <script>
        function login() {
            $.ajax({
                type: 'POST',
                url: 'https://auth.flyingdarts.net/oauth2/token',
                data: {
                    client_id: '@ViewBag.ClientId',
                    client_secret: '@ViewBag.ClientSecret',
                    grant_type: '@ViewBag.GrantType',
                    redirect_uri: '@ViewBag.RedirectUri',
                    code: '@ViewBag.Code'
                },
                success: function (data) {
                    localStorage.setItem("accessToken", data.access_token);
                    localStorage.setItem("refreshToken", data.refresh_token);
                    localStorage.setItem("idToken", data.id_token);
                    window.location.replace(`https://${location.host}/lobby`);
                },
                error: function (err) {
                    console.log(err)
                }
            })
        }
    
        function getCode() {
            if (window.location.search.indexOf("code") > -1) {
                var params = new URLSearchParams(window.location.search).get("code");
                return { "code": params }
            }
        }
    
        $(document).ready(function () {
            $('#submitBtn').prop('disabled', true);
            if (!isNullOrUndefined(getCode()) && getCode().code.length > 1) {
                $("#connectedWithSocial").css('display', 'block');
                $("#authButton").removeAttr('href');
                $("#authButton").addClass('socials-disabled')
                $('#authForm').css('display', 'flex');
                $('#checkBoxAccept').change(function () {
                    $('#submitBtn').prop('disabled', !this.checked);
                });
                $("#submitBtn").click(() => login())
            }
        });
    
    
    </script>
}